

body {
	background-color: lightblue;
}

body .jumbotron .container {
	padding-left: 0px;
}

h1 {
	font-family: Impact, Charcoal, sans-serif;
}

.contact-bar img {
	width: 50%;
    -webkit-transition: all 1s ease; /* Safari and Chrome */
  	-moz-transition: all 1s ease; /* Firefox */
  	-o-transition: all 1s ease; /* IE 9 */
  	-ms-transition: all 1s ease; /* Opera */
  	transition: all 1s ease;
}

.contact-bar .fb:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

.contact-bar .gmail:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

.contact-bar .linkedin:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

body .contact-bar .container {
	padding-top: 0px;
}

body .contact-header .container{
	font-family: Impact, Charcoal, sans-serif;
	color: white;
	text-align: center;
}

body .contact-header {
	padding-top: 50px;
}

hr {
  background: transparent url(images/hr.gif) center center no-repeat;
  height: 21px;
  margin-top: 2em;
  margin-bottom: 2em;
}